body{
    margin: 0;
    font-family: 'Quicksand',sans-serif;
    padding: 0;
}
#customer ul {
    width: 100%;
    height: 40px;
    list-style-type: none ;
    background: #f9f9f9;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 0px;
    margin-top: 0px;
}
#customer ul li {
    color: black;
    display: inline-table;
    text-align: center;
    width: 100px;
    height: 40px;
    line-height: 40px;
}
#customer ul .space {
    width: 5px;
}
#customer #text p {
    text-align: left;
    margin-left: 60px;
}
#customer #text p span {
    font-size: 110%;
}
#customer #text .plus span {
    line-height: 25px;
}